<div class="container-infos">
  <div class="container-infos-text">
    <p class="text-center">
      Bienvenue sur The Bartender’s Bible <br>
      Ici vous découvrirez la recette d'un grand classique : le Fun Cola !
    </p>
  </div>
</div>

<div class="container">
  <h1>
    FUN COLA
  </h1>
  <div class="funcola">
    <p>
      Ingrédients : <br>
      du cola <br>
      du sirop de cerise <br>
      de l’arome vanille <br>
      de la limonade <br>
    </p>
  </div>
  <div class="img-fluid funcola">
    <img src="../../assets/body/fun_cola.png" alt="funcola">
  </div>
</div>


<div class="footer">
  <div class="d-flex justify-content-between">
    <a routerLink="/mentions_legales" class="footer_texte2"> MENTIONS LEGALES </a>
    <br>
    <a routerLink="/communaute" class="footer_texte2"> COMMUNAUTE </a>
  </div>

  <div class="d-flex justify-content-center">
    <a href="https://www.facebook.com/">
      <img src="../../assets/footer/facebook.png" alt="facebook" class="img-fluid">
    </a> &nbsp;&nbsp;

    <a href="https://www.instagram.com/">
      <img src="../../assets/footer/instagram.png" alt="instagram" class="img-fluid">
    </a> &nbsp;&nbsp;
    <a href="https://www.snapchat.com">
      <img src="../../assets/footer/snapchat.png" alt="snapchat" class="img-fluid">
    </a> &nbsp;&nbsp;
    <a href="https://www.tiktok.com">
      <img src="../../assets/footer/tiktok.png" alt="tiktok" class="img-fluid">
    </a> &nbsp;&nbsp;
    <a href="https://twitter.com">
      <img src="../../assets/footer/twitter.png" alt="twitter" class="img-fluid">
    </a> &nbsp;&nbsp;
  </div>

  <div class="d-flex justify-content-between">
    <a routerLink="/contact" class="footer_texte2"> CONTACT </a>

    <a routerLink="/qui_sommes_nous" class="footer_texte2"> QUI SOMMES NOUS </a>
  </div>
</div>
