<div class="container-infos">
  <div class="container-infos-text">
    <p class="text-center">
      Bienvenue dans la partie qui sommes nous ? <br>
      Ici vous découvrirez qui a contribué à la création de ce site.
    </p>
  </div>
</div>


<div class="container">
  <h1 class="container-infos-text">
    QUI SOMMES NOUS ?
  </h1>
  <p class="nous_body img-fluid">
    Nous sommes deux jeunes développeurs amateurs de spiritueux et nous souhaitions partager
    cet amour avec le plus grand nombre de personnes.
    <img src="../../assets/body/happy_people.jpg" alt="nous">
  </p>
</div>
