<div class="container-infos">
  <div class="container-infos-text">
    <p class="text-center">
      Bienvenue sur The Bartender’s Bible <br>
      Ici vous découvrirez des recettes communautaires alcoolisées et non alcoolisées <br>
      afin d’animer vos soirées
    </p>
  </div>
</div>


<div class="container">
  <h1 class="container-infos-text">
    MENTIONS LEGALES
  </h1>
  <p class="text-center">
    Donec non justo feugiat, condimentum ipsum ac, tristique mauris. Nulla convallis condimentum quam non blandit.
    Integer ut sem vel dolor ultrices laoreet at vel magna. Vivamus viverra nunc non arcu dictum interdum.
    Pellentesque rutrum est ipsum. Integer congue maximus metus. Sed laoreet vitae risus vel aliquam.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Aliquam erat volutpat. Donec laoreet leo a dolor dictum, sed luctus ante commodo.
    Nulla non magna eu magna viverra rutrum in et leo. Integer bibendum magna sed magna accumsan egestas
    ac suscipit erat. Donec at iaculis ante, non pellentesque erat. Fusce venenatis in orci quis varius.
    Fusce accumsan laoreet bibendum. Mauris ornare nulla libero, a sagittis urna porttitor in.
    Vestibulum dolor magna, lacinia quis maximus et, dapibus nec magna. Etiam in accumsan ipsum,
    sit amet efficitur ipsum. Vivamus fermentum enim sed sapien auctor cursus.
    Aliquam justo leo, mattis vel diam id, porta scelerisque dui. Fusce consequat porta dolor in pulvinar.
    In porttitor pharetra nunc a viverra. Quisque elementum magna a semper hendrerit. Sed eu pharetra diam.
  </p>

  <div class="footer">
    <div class="d-flex justify-content-end">
      <a routerLink="/mentions_legales" class="footer_texte2"> MENTIONS LEGALES </a>
      <br>
      <a routerLink="/communaute" class="footer_texte2"> COMMUNAUTE </a>
    </div>

    <div class="d-flex justify-content-center">
      <img src="../../assets/footer/facebook.png" alt="facebook" class="img-fluid"> &nbsp;&nbsp;
      <img src="../../assets/footer/instagram.png" alt="instagram" class="img-fluid"> &nbsp;&nbsp;
      <img src="../../assets/footer/snapchat.png" alt="snapchat" class="img-fluid"> &nbsp;&nbsp;
      <img src="../../assets/footer/tiktok.png" alt="tiktok" class="img-fluid"> &nbsp;&nbsp;
      <img src="../../assets/footer/twitter.png" alt="twitter" class="img-fluid"> &nbsp;&nbsp;
    </div>

    <div class="d-flex justify-content-end">
      <a routerLink="/contact" class="footer_texte2"> CONTACT </a>

      <a routerLink="/qui_sommes_nous" class="footer_texte2"> QUI SOMMES NOUS </a>
    </div>
  </div>
</div>
