
<nav class="navbar">
  <div class="row">
    <div class="col-3">
      <a routerLink="/home">
        <img src="../../assets/navbar/cocktail.png" alt="Cocktail">
        <img src="../../assets/navbar/bible.png" alt="Bible">
      </a>
    </div>
    <div class="col-6">
      <p class="ws-title">
        The Bartender's Bible
      </p>
    </div>
    <div class="col-3 d-flex justify-content-end img-fluid">
      <a routerLink="/mon_compte">
        <img src="../../assets/navbar/bouton_mon_compte.png" alt="compte">
      </a>
    </div>
  </div>
</nav>
